/**
  |============================
  | Variables
  |============================
*/
:root {
    /* Fonts */
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    /* Colors */
    --main-cl: #434455;
    --main-cl-60: rgba(17, 17, 17, 0.6);
    --main-cl-70: rgba(17, 17, 17, 0.7);
    --accent-cl: #fd9222;
    --violet-cl: #1e1823;
    --beige-cl: #fcf1e0;
    --light-cl: #FFFFFF;
    --gray-cl: #4c4c4c;
    --white-cl: #ffffff;
    --white-cl-70: rgba(255, 255, 255, 0.7);
}

/* ------------RESET------------- */

body {
    font-family: var(--primary-font);
    font-family: var(--secondary-font);
    color: var(--main-cl);
    background-color: var(--light-cl);
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* ------------RESET END------------- */

/* ==============
COMPONENT STYLES
   ============== */

.container {
    display: flex;
    flex-direction: column;
    max-width: 1166px;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------HEADER------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-soc-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-menu-item {
    display: flex;
}

.syniu {
    color: #2e2f42;
}

.header-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.header-soc-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.header-link:first-child {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.header-soc-link:first-child {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.header-soc-link:first-child:hover {
    color: #404bbf;
}

.header-soc-link:first-child:focus {
    color: #404bbf;
}

.header-link:first-child:hover {
    color: #404bbf;
}

.header-link:first-child:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

/* ------------HERO------------- */
.hero {
    background-color: #2E2F42;
    margin-bottom: 120px;
    padding: 188px 0;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.142857%;
    /* 60/56 */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF
}

.btn-txt {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
}

/* ------------PROJECT------------- */

.project {
    padding-bottom: 120px;
    padding: 120px 0;
}

.project-list {
    display: flex;
    gap: 24px;
}

.project-item {
    width: calc((100% - 72px) / 4);
}

.project-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.project-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* ------------DEVICES------------- */

.devices {
    padding: 120px 0;
}

.dev-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111111%;
    /* 40/36 */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.dev-list {
    display: flex;
    gap: 24px;
}

.dev-photo {
    width: calc((100% - 48px) / 3);
}

/* ------------TEAM------------- */


.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

.name-job {
    padding: 32px 0;
}

/* ------------FOOTER------------- */
.footer {
    background-color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    padding: 100px 0;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.syniu-dva {
    color: #f4f4fd;
}

/* ------------Portfolio------------- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.list {
    list-style: none;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.sell-item {
    width: calc((100% - 48px) / 3);
}

.btn-buttons {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}

.btn-buttons:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.btn-buttons:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.sell-item.link {
    text-decoration: none;
}

.sell-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.sell-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sell-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}